<%- include("partials/header.ejs") %>


    <!-- MAIN SESSION -->
    <div class="main-container">
        
        <div class="main-cl">
            <% if (locals.blogs) { %>
                <% blogs.forEach((blog, index) => { %>   
                    <div id="main">
                        <form action="/view/<%= index %>" method="post">
                        <div class="main-title">
                            <button class="size-30 btn-title-link"><%= blog.title %></button>   
                            <input type="hidden" name="blogId" value="<%= blog._id %>">
                        </div>
                        </form>
                        <p class="content font-arial"><%= blog.content %></p>
                        <p>Date: <%= blog.date %></p>
                    </div>
                    <hr>
            <% })} %>
        </div>
                    <!-- CREATE BLOG SIDE -->
    <div id="create">
        <div class="create-post-btn">
            <form action="/post" method="post">
                <input type="submit" value="Create Blog" formaction="/create" class="input-post">
                
            </form>
        </div>

        <p style="text-transform: uppercase">Recent Blogs</p>

        <% if (locals.blogs) { %>
            <% blogs.forEach((blog, index) =>  {%>
                <div class="create-a">
                    <form action="/view/<%= index %>" method="post">
                        <button class="btn-title-link" style="font-size: 16px; text-decoration: none;line-height: 1.7rem;"><%= blog.title %></button>
                          
                        <input type="hidden" name="blogId" value="<%= blog._id %>">
                    </form>
                </div>
                <hr>
        <% })} %>
        
    </div>
</div>

 
<%- include("partials/footer.ejs") %>