<%- include("partials/header.ejs") %>


    <!-- MAIN SESSION -->
    <div class="main-container">
        
        <div class="main-cl">
            <% if (locals.blogs) { %>
                <% blogs.forEach((blog, index) => { %>   
                    <div id="main">
                        <div class="main-title">
                            <a href="/view/<%= index %> %>" class="size-30"">
                                <%= blog.title %>
                            </a>
                        </div>
                        <p class="content font-arial"><%= blog.content %></p>
                        <p>Date: <%= blog.date %></p>
                    </div>
                    <hr>
            <% })} %>
        </div>
                    <!-- CREATE BLOG SIDE -->
    <div id="create">
        <div class="create-post-btn">
            <form action="/post" method="post">
                <input type="submit" value="Create Blog" formaction="/create" class="input-post">
                
            </form>
        </div>

        <p style="text-transform: uppercase">Recent Blogs</p>

        <% if (locals.blogs) { %>
            <% blogs.forEach((blog, index) =>  {%>
                <div class="create-a">

                    <a href="/view/<%= index %>" style="font-size: 16px;">
                        <%= blog.title %>
                    </a>
                </div>
                <hr>
        <% })} %>
        
    </div>
</div>

 
<%- include("partials/footer.ejs") %>