<%- include("partials/header.ejs") %>

<h1>Edit Blog</h1>

    <% if (locals.blogs) { %> <%# when code in here it can be send request to JS %>
     
        <div class="blog-div">
            <p>Title: <%= blogs.title %></p>
            <p>Content: <%= blogs.content %></p>     
            <p>Date: <%= blogs.date %></p>
        </div>
    <% } %>


<form action="/post" method="post">
    <input type="text" name="title" id="" value="<%= blogs.title %>">
    <input type="text" name="content" id="" value="<%= blogs.content %>">
    <input type="submit" value="Update Post" formaction="/patch-blog">
    <input type="submit" value="Delete Post" formaction="/delete-blog">
</form>


<%- include("partials/footer.ejs") %>